*{
	box-sizing: border-box;
}

#body1{
	background-color: #736a70  ;
	font-family: Times;
	margin: 2cm;
}
header{
	background-color: #eef5d3   ;
	padding: 20px;
	font-size: 25px;
	color: #333333;
}
section{background-color: #f5d3d8   ;
	padding: 20px;
	font-size: 25px;
	color: #333333;
}
footer{
	padding: 20px;
	font-size: 25px;
	background-color: #d3f5da ;
	color: #333333;

}
nav{
	float: left;
	width: 20%;
	height: 300px;
	background: #FFB128;
	padding: 20px;
}
nav ul li{
	list-style-type: none;
	padding-top: 20px;
}
article{
	float: left;
	padding: 20px;
	width: 60%;
	background-color: #FFFFFF;
	height: 300px;
}
aside{
	height: 300px;
	background: #FFB128;
	float: right;
	width: 20%;
	padding: 20px;
	height: 300px;
}

@media(max-width: 600px){
	nav, section, aside, footer{
		width: 100%;
		height: auto;
	}
}
img{
	width: 15%;
	height: 15%;
}
form{

}
#lista{
	background: #00CED1 ;
	float: right;
	font-family:cursive;
	font-size: 20px;
}
a:hover {
            color:#FF0000; 
        }
#titulo{
	background: #ff8000 ;
	font-family:monospace;
	font-size: 20px;
}
#copy{
	background: #191970;
	font-family:monospace;
	font-size: 15px;
	color:white;
}
#video{
	background-image:url(imagen/fondo.png);
	color:white;
	font-size:20px;
}