*{
	box-sizing: border-box;
}
body{
	background-color: #0000;
}

#body1{
	background-image:url(imagen/Contactos.png);
	font-family: Times;
	margin: 2cm;
	background-color: #736a70
}
#body2{
	font-family: Times;
	margin: 2cm;
}
#f1 {
	padding:20px;
	text-align:left;
	border: 5px solid black;
}
#f1 input{
	padding: 20px;
	font-size: 35px;
	color: black;
	font-family:fantasy	;
}
#f1 div{
	text-align:center;
	font-size:20px;
	font-family:fantasy	;
}
#f1 label{
	padding: 20px;
	font-size: 35px;
	color: black;
	font-family:fantasy	;
}

header{
	background-color: #eef5d3   ;
	padding: 20px;
	font-size: 25px
	color: #333333;
}
section{background-color: #f5d3d8   ;
	padding: 20px;
	font-size: 25px;
	color: #333333;
}
footer{
	padding: 20px;
	font-size: 25px;
	background-color: #d3f5da ;
	color: #333333;

}
nav{
	float: left;
	width: 20%;
	height: 300px;
	background: #FFB128;
	padding: 20px;
}
nav ul li{
	list-style-type: none;
	padding-top: 20px;
}
article{
	float: left;
	padding: 20px;
	width: 60%;
	background-color: #FFFFFF;
	height: 300px;
}
aside{
	height: 300px;
	background: #FFB128;
	float: right;
	width: 20%;
	padding: 20px;
	height: 300px;
}

@media(max-width: 600px){
	nav, section, aside, footer{
		width: 100%;
		height: auto;
	}
}
.BordeBodyForm{
	background-image: url(imagen/form1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario{
	padding: 30px;
}
input [type="text"]{
	margin: 0 0 1em 0;
	border: 10px solid #000;
	padding: 100px;
	width: 100%;
}

input[type="checkbox"] {
    color: white; 
}
legend{
	border: 2px solid black;
	color: white;
	text-align: center;
	background-color: #34394F;
	margin-top: 20px;
	margin-bottom: 20px;
}
label{
	color: white;
}
fieldset{
	border-color: #000;
	background-color: #34394F;
	padding: 15px;
	margin: 0 auto;
	max-width: 500px;
	text-align: left;
	width: 41%;
	height: 50%;
	color: white;
}
img{
	width: 15%;
	height: 15%;
}

#lista{
	background-image:url(imagen/Lista.jpg);
	float: center;
	font-family:cursive;
	font-size: 20px;
}
a:hover {
    color:#FF0000; 
}
#titulo{
	background-image:url(imagen/enc1.png);
	background-repeat: no repeat;
	background-size: cover;
	font-family:monospace;
	font-size: 20px;
}
#copy{
	background-image:url(imagen/fondoazuloscuro.png);
	background-repeat: no repeat;
	background-size: cover;
	font-family:monospace;
	font-size: 15px;
	color:white;
}
#video{
	background-image:url(imagen/fondo.png);
	color:white;
	font-size:20px;
}

.tabla table {
    border-collapse: collapse;
    margin: 0 auto;
}
    
th, td {
    padding: 10px;
    text-align: left;
}
th {
   background-color: #f2f2f2;
}


#bodytabla{
	background-color: #eef5d3;
	padding: 20px;
	font-size: 25px;
	color: #333333;

}
#fondotabla{
	background-image:url(imagen/fondo2.jpeg);
	color:white;
}
ul{
	list-style:none;
	float: left;
}
.boton1{
	background-color: #393982;
}

.vinculo{
	color: #A6CBCA;
}

.viñetas1{
	list-style: square;
}
.viñetas2{
	list-style: circle;
}
table.datos{
	width: 100%;
    border-collapse: collapse;
}
td.columna1{
	width: 40%;
}
td.columna2, td.columna3{
	width: 30%;
}
.container {
    position: relative;
    width: 280px; /* ajusta según el tamaño de tu imagen */
}

.container img{
	width: 280px;
	height: 157px;
}
.descripcion {
    position: absolute;
    bottom: 10px; /* ajusta según tu diseño */
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    display: none;
}

/*Ejercicio 4*/

#f1 .resultado-signo {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#f1 .nombre-signo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#f1 .descripcion-signo{
    font-size: 16px;
    font-family: sans-serif;
}
#f1 .imagen-signo {
    width: 400px;
    height: 400px;
    margin-right: 20px;
}
#f1 .descrip-contain-signo {
    display: flex;
    flex-direction: column;
}
#f1 .tabla-signo {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#f1 .validar-datos{
	color: red;
}
/*Ejercicio 5*/

