*{
	box-sizing: border-box;
}

#body1{
	background-image:url(imagen/fondo3.jpg);
	font-family: Times;
	margin: 2cm;
}
header{
	background-color: #eef5d3   ;
	padding: 20px;
	font-size: 25px;
	color: #333333;
}
section{background-color: #f5d3d8   ;
	padding: 20px;
	font-size: 25px;
	color: #333333;
}
footer{
	padding: 20px;
	font-size: 25px;
	background-color: #d3f5da ;
	color: #333333;

}
nav{
	float: left;
	width: 20%;
	height: 300px;
	background: #FFB128;
	padding: 20px;
}
nav ul li{
	list-style-type: none;
	padding-top: 20px;
}
article{
	float: left;
	padding: 20px;
	width: 60%;
	background-color: #FFFFFF;
	height: 300px;
}
aside{
	height: 300px;
	background: #FFB128;
	float: right;
	width: 20%;
	padding: 20px;
	height: 300px;
}

@media(max-width: 600px){
	nav, section, aside, footer{
		width: 100%;
		height: auto;
	}
}

.formulario{
	background: url(imagen/form1.png);
	background-repeat: no repeat;
	background-size: cover;
	padding: 30px;
}
input [type="text"]{
	margin: 0 0 1em 0;
	border: 10px solid #000;
	padding: 100px;
	width: 100%;
}

input[type="checkbox"] {
    color: white; 
}
legend{
	border: 2px solid black;
	color: white;
	text-align: center;
	background-color: #1A213F;
	margin-top: 20px;
	margin-bottom: 20px;
}
label{
	color: white;
}
fieldset{
	border-color: #000;
	background-color: #1A213F;
	padding: 15px;
	margin: 0 auto;
	max-width: 500px;
	text-align: left;
	width: 41%;
	height: 50%;
	color: white;
}
img{
	width: 15%;
	height: 15%;
}
form{

}
#lista{
	background: #00CED1 ;
	float: right;
	font-family:cursive;
	font-size: 20px;
}
a:hover {
            color:#FF0000; 
        }
#titulo{
	background: #ff8000 ;
	font-family:monospace;
	font-size: 20px;
}
#copy{
	background: #191970;
	font-family:monospace;
	font-size: 15px;
	color:white;
}
#video{
	background-image:url(imagen/fondo.png);
	color:white;
	font-size:20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
    
th, td {
    padding: 10px;
    text-align: left;
}
    
th {
   background-color: #f2f2f2;
}

#bodytabla{
	background-color: #eef5d3;
	padding: 20px;
	font-size: 25px;
	color: #333333;

}
#fondotabla{
	background-image:url(imagen/fondo2.jpeg);
	color:white;
}

ul{
	list-style:none;
}
